<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React</title>
<!--    <script type="module" crossorigin th:src="@{dist/index-DNKYsRLU.js}"></script>-->
<!--    <link rel="stylesheet" crossorigin th:href="@{dist/index-wiM5Z-bC.css}">-->
    <script type="module" crossorigin th:src="@{http://localhost:5173/dist/assets/index-DNKYsRLU.js}"></script>
    <link rel="stylesheet" crossorigin th:href="@{http://localhost:5173/dist/assets/index-wiM5Z-bC.css}">
</head>
<body>
<div id="root"></div>
</body>
</html>
